* {
    padding: 0;
    margin: 0;    
}

/* Body */



/* Header */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
}

.logo {
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
}

/* Main */

main {
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;    
}

.putIn, .putOut {  
    display: flex; 
    align-items:center !important; 
    width: 400px;
    height: 500px;
    border-radius: 25px;
    padding: 17px;
}

.wrappapport {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.elSelect {
    width: 250px;
    text-align: center;
}

/* Footer */

footer {
    background-color: lightslategrey;
    position: absolute;
    bottom: 0px;
    width: 100vw;
}